* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fristsection{
    height: 1000px;
    width: 1500px;
}
header {
    display: flex;
    background-color:  rgb(0, 0, 0);
}
 header .logo{
    padding: 10px;
    width: 100%auto;
    height: 40px;
     
}
.navbaarcontent{
    /* justify-content: space-between; */
    margin: 0px , 16px;
    font-size: 19px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font: 1em sans-serif;
    padding: 14px;
    width: 100%auto;
    height: 40px;
    color: #F0F0FACC;

}
.main {
    max-width: 1500px;
    
    /* height: 60%; */
    background-color: rgb(135, 89, 209);
    display: flex;
     overflow: hidden;
}
.explore{
    width: 50%;
    color:  #F0F0FACC;
    /* height: 100%; */
    background-color: black;
}
.mars{
    overflow: hidden;
    
}
.mars-video{
    /* width: 200px; */
    height: 100vh;
    object-fit: cover;      
    
      

}
