* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fristsection{
    height: 1000px;
    width: 100%;
}
header {
    padding-top: 16px;
    /* margin-top: 10px; */
    display: flex;
    background-color:  rgb(0, 0, 0);
}
 header .logo{
    margin-left: 19px;
    padding: 10px;
    width: 100%auto;
    height: 40px;
     
}
header button{
    border: 1px solid #f5f5f9cc;
    margin-top: 6px;
    margin-left: 60px;
    height: 30px;
    border-radius: 4px;
    padding: 10px;
    text-align: left;
    font-size: 10px;
    background-color: black;
    width: 240px;
    color: #F0F0FACC;
}
.navbaarcontent{
    /* justify-content: space-between; */
    /* margin: 0px , 16px; */
    margin-left: 9px;
    font-size: 19px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font: 1em sans-serif;
    padding: 14px;
    width: 100%auto;
    height: 40px;
    color: #F0F0FACC;
}
.navbaarcontent1{
      margin-left: 15px;
    font-size: 15px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font: 1em sans-serif;
    padding: 14px;
    width: 100%auto;
    height: 40px;
    color: #F0F0FACC;  
}
.main {
    /* max-width: 1500px; */
    background-color: rgb(0, 0, 0);
    display: flex;
    overflow: hidden;
}
.explore{
    font-size: 20px;
    margin-left: 70px;
    margin-top: 330px;
    width: 50%;
    color:  #F0F0FACC;
 background-color: black;
}
.explore h1{
    margin-bottom: 10px;
    line-height: 42px;
}
.explore p{
    font-size: 17px;
}
 

.main .explore button:hover{
    background-color: #F0F0FACC;
    color: black;
}


.main .explore button {
     
    border: 1px solid  rgb(151, 150, 150);
    margin-top: 14px;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    padding:12px;
    text-align: left;
    font-size: 12px;
    background-color: black;
    color: #F0F0FACC;
}
.main2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 900px;
    width: 100%;
    background-image: url(img/spaceximg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #F0F0FA;
  
}
.explore1{
    margin-top: 150px;
    margin-left: 650px;    

}
.main2 .explore1 h1{
   font-size: 60px;
  /* color: #F0F0FACC; */
}
.main2 .explore1 button{
    border: 1px solid  rgb(151, 150, 150);
    margin-top: 10px;
    /* margin-bottom: 14px; */
    border-radius: 4px;
    padding:12px;
    font-size: 12px;
    background-color: #00000080;
    color: #F0F0FA;
 

}

.main3{
 position: relative;
 top:517px;
 width: 100%;
}
 
.main3 .explore2 h2{
    font-size: 48px;
    line-height:42px;
}

.main3 .explore2 p{
    font-size: 14px;
    line-height: 20px;
}
 
.explore2{
    position: absolute;
    width: 100%;
    color: #F0F0FACC;
    height: 100vh;
    z-index: 2;
    /* background: linear-gradient( rgba(0, 0, 0, 0.100) 10%, rgba(255, 255, 255, 0) 100%); */
}

.rocket-landing{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.main3 .explore2 button{
    border: 1px solid  rgb(151, 150, 150);
    margin-top: 10px;
    /* margin-bottom: 14px; */
    border-radius: 4px;
    padding:12px;
    font-size: 12px;
    background-color: #00000080;
    color: #F0F0FA;

}
 
.main2 .explore2 button:hover{
    background-color: #F0F0FACC;
    color: #00000080;
}
.explore2{
    height: 200px;
    width: 700px;
}

.explore2{
    margin-top: 110px;
    margin-left: 110px;
}
.main4{
    margin-top: 731.55px;
    position:  absolute;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .lastsection{
     position: relative;    
 }
.main4 img{ 
        height: 812px;
        width: 1522px;
    }
